@import url('https://fonts.googleapis.com/css?family=Raleway:400,500i,600,700,700i,900');

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background: url("pictures/vintage_car20.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 600px;
	margin: 7% 0% 0% 40%;
}

h1 {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	margin-bottom: 2px;
	font-size: 40px
}

h2 {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.6);
	margin-bottom: 40px;
	font-size: 27px
}

.btn {
	background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,0.96) 12%, rgba(102,102,102,0.91) 25%, rgba(71,71,71,0.86) 39%, rgba(0,0,0,0.82) 51%, rgba(44,44,44,0.81) 53%, rgba(17,17,17,0.79) 60%, rgba(43,43,43,0.73) 76%, rgba(28,28,28,0.68) 91%, rgba(19,19,19,0.65) 100%);
	border-radius: 4px;
	padding: 15px 30px;
	color: white;
	font: 20px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 5%;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.3); 
	font-weight: 600;
}

.btn:hover {
	box-shadow: 0px 4px 4px rgba(0,0,0,0.6);
	
		